*.tgz
*.zip
*.pem
*.pub
test2
/wyklad_rnn/data
/wyklad_2_old_polish_cars/224_epoch9.h5
/wyklad_3_old_polish_cars_10classes/models
/rnn_generator_syllables/bin/
/rnn_generator_syllables/data/
.ipynb_checkpoints
/wyklad_nmt/data
/wyklad_nmt/images
/tnt_examples/raw
/tnt_examples/processed
__pycache__
